MINDUSTRY_VERSION=v155.4
MINDUSTRY_SHA256=cb96a68d2a9badf58a0640062607f953b1ed551ed7b4af0c2bf393d8ce8d6643
JAVA_OPTS=-Xms512m -Xmx2G
SERVER_NAME=Mindustry 155.4 Beta
SERVER_DESC=Public beta server
SERVER_PORT=6567
SERVER_MODE=sandbox
SERVER_MAP=Tar_Fields
SERVER_AUTO_HOST=true
SERVER_AUTO_PAUSE=true
SERVER_STRICT=true
SERVER_EXTRA_COMMANDS=rules add infiniteResources false
