MINDUSTRY_VERSION=v155.4
MINDUSTRY_SHA256=cb96a68d2a9badf58a0640062607f953b1ed551ed7b4af0c2bf393d8ce8d6643
JAVA_OPTS=-Xms512m -Xmx2G
SERVER_NAME=Mindustry 155.4 Beta
SERVER_DESC=Public beta server
SERVER_PORT=6567
SERVER_MODE=survival
SERVER_MAP=Midantha
SERVER_AUTO_HOST=true
SERVER_AUTO_PAUSE=true
SERVER_STRICT=true
SERVER_EXTRA_COMMANDS=
ENABLE_NEW_HORIZON=false
NEW_HORIZON_VERSION=2.0_v154_1
NEW_HORIZON_URL=https://github.com/Yuria-Shikibe/NewHorizonMod/releases/download/2.0_v154_1/NewHorizonMod.2.0_v154_1.jar
NEW_HORIZON_SHA256=052545941e5a306b2ca03cb80e90d4138efc4d78db21c44138dd55e5830d0003
