MINDUSTRY_VERSION=v155.4
MINDUSTRY_SHA256=cb96a68d2a9badf58a0640062607f953b1ed551ed7b4af0c2bf393d8ce8d6643
JAVA_OPTS=-Xms512m -Xmx2G
SERVER_WORKDIR=/data
SERVER_NAME=Mindustry 155.4 Beta
SERVER_DESC=Public beta server
SERVER_PORT=6567
SERVER_MODE=sandbox
SERVER_MAP=Tar_Fields
SERVER_AUTO_HOST=true
SERVER_AUTO_PAUSE=true
SERVER_STRICT=true
SERVER_BOOTSTRAP_MODE=auto
SERVER_BOOTSTRAP_SAVE_SLOT=222
SERVER_EXTRA_COMMANDS=config autosave true,config autosaveSpacing 10,rules add infiniteResources false
ENABLE_EXOGENESIS=true
SERVER2_WORKDIR=/data/instances/server-2
SERVER2_NAME=Mindustry 155.4 Beta 2
SERVER2_DESC=Public beta server 2
SERVER2_PORT=6568
SERVER2_MODE=sandbox
SERVER2_MAP=Wasteland
SERVER2_AUTO_HOST=true
SERVER2_AUTO_PAUSE=true
SERVER2_STRICT=true
SERVER2_BOOTSTRAP_MODE=auto
SERVER2_EXTRA_COMMANDS=rules add infiniteResources false
SERVER2_ENABLE_EXOGENESIS=true
SERVER2_ENABLE_NEW_HORIZON=false
